.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
header {

  background-color: #9526a4d7;
  
  margin: auto -16px;
  
  padding: 16px 32px;
  
  box-shadow: 0 0 10px 0 rgba(145, 53, 53, 0.3);
  
  }
  
  
  
  header h1 {
  
  color: rgba(24, 7, 11, 0.813);
  
  font-family: "McLaren", cursive;
  
  font-weight: 200;
  
  }
  footer {

    position: absolute;
    
    text-align: center;
    
    bottom: 0;
    
    width: 100%;
    
    height: 2.5rem;
    
    }
    
    
    
    footer p {
    
    color: rgb(21, 2, 2);
    
    }
