body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'verdana'
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}*{
  margin:0;
  padding:0;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
header,footer{
  position: absolute;
  background-color: #000;
  width: 100%;
  color: white;
}
header h2{
  position: absolute;
  margin-top: 20px;
  left: 20%;
  color: orange;
}
header{
  height: 10vh;
}
footer{
  height:15vh;
  bottom:0;
}
footer h2{
position: absolute;
left:45%;
}
.nav{
  position: absolute;
  width: 100%;
}
.nav a{
  position: relative;
  left:45%;
  top: 20px;
  color: white;
  text-decoration: none;
  margin-right: 20px;
}
footer p{
  position:absolute;
  left:48%;
  bottom: 20px;
  color: rgb(31, 29, 27);
}